.browse_container {
    padding: 1rem 0;
    min-height: 100vh;
    width: 100%;

    main {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 95%;
        margin: auto;
        row-gap: 1rem;

        .browse_actions {
            display: flex;
            justify-content: space-between;
            align-items: center;


            h1 {
                font-size: 2.5rem;
                font-family: $secondary-font;
                letter-spacing: 0.3px;
                font-weight: 700;
                margin-bottom: 2rem;
            }

            button {
                @include button-style;
                align-self: unset;
            }

            button:hover {
                @include button-hover;
            }
        }

        .browse_content {
            height: 100%;

            .games_filters {
                margin-top: 1rem;
                display: flex;
                flex-wrap: wrap;
                row-gap: 2rem;
                column-gap: 2rem;
                height: 100%;
                width: 100% !important; 

                .game_container {
                    width: 29.1rem;
                    display: flex;
                    column-gap: 1rem;
                    padding: 1rem;
                    box-shadow: 2.1px 2.5px 8.5px 1.2px rgba(0, 0, 0, 0.1);

                    .game_info {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;


                        h2 {
                            padding: 0;
                            margin: 0;
                        }

                        .game_actions {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            span {
                                font-weight: 500;
                                font-style:  italic;
                                align-self: flex-end;
                                
                            }

                            span:hover {
                                text-decoration: underline
                            }

                            button {
                                @include button-style;
                            }

                            button:hover {
                                @include button-hover;
                            }
                        }
                    }

                }

                .loader {
                    margin-top: 10%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    height: 100%;
                    width: 100%;
                }
            }
            
        }
    }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 1112px) {

    .games_filters {
        align-items: center !important;
        justify-content: center;
    }

    .game_container {
        width: 21.8rem !important;

        img {
            height: 10rem !important;
            width: auto !important;
        }

        .game_info {

            h2 {
                font-size: 1.2rem !important;
            }

            .game_actions {
                font-size: 0.9rem !important;
            }

            button {
                padding: 1rem !important;
                width: 65% !important;
            }
        }
    }

    .game_actions {
        button {
            width: 7rem !important;
        }
    }
}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 767px) {

    .browse_container {

        main {
            width: 93% !important;
        }
    }


    .browse_actions {
        width: 100% !important;
        align-items: unset !important;
        display: flex;
        flex-direction: column;
        

        h1 {
            font-size: 1.7rem !important;
        }

        button {
            width: 100% !important;
            font-size: 0.9rem !important;
            padding: 0.7rem !important;
        }
    }

    .game_container {
        width: 100% !important;
        padding: 1rem 0.7rem !important;

        img {
            height: 8rem !important;
            width: auto !important;
        }

        .game_info {

            h2 {
                font-size: 1.1rem !important;
            }

            .game_actions {
                font-size: 0.9rem !important;
            }

            button {
                width: 60% !important;
            }
        }
    }

    .game_actions {

        button {
            font-size: 0.9rem !important;
            padding: 0.8rem !important;
        }
    }

}