.browse_container {
    padding: 1rem 0;
    min-height: 90vh;
    width: 100%;

    main {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 95%;
        margin: auto;

        .browse_actions {
            display: flex;
            justify-content: space-between;
            align-items: center;


            h1 {
                font-family: $secondary_font;
            }

            button {
                @include button-style;
                align-self: unset;
            }

            button:hover {
                @include button-hover;
            }
        }

        .browse_content {
            display: flex;
            column-gap: 3rem;
            padding: 1rem 0;
            display: flex;
            justify-content: space-evenly;
            background-color: white;

            .browse_filters {
                height: 100%;
                width: 30%;
                box-shadow: 0.1px 0.5px 2.5px 1.2px rgba(0, 0, 0, 0.1);
            }

            .browse_games {
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                column-gap: 3rem;
                min-height: 100%;
                width: 100%; 

                .game_container {
                    display: flex;
                    column-gap: 1rem;
                    padding: 1rem;
                    box-shadow: 0.1px 1.5px 2.5px 1.2px rgba(0, 0, 0, 0.1);
                }

                .loader {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}