@import "variabels.module.scss";
@import "mixins.module.scss";
@import "layout.module.scss";
@import "browse.module.scss";
@import "details.module.scss";
@import "cart.module.scss";
@import "checkout.module.scss";

.LandingPage_container {
  min-height: 100vh;

  .text_danger {
    color: red;
    font-size: 0.9rem;
    font-weight: 500;
  } 

  main {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    height: 100%;

    .user_form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: $base-index;
      position: relative;
  
  
    .loginForm {
      width: 17.2rem;
      display: flex;
    
      flex-direction: column;
      row-gap: 1.5rem;
  
      div {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
  
        input {
          @include input-style;
        }
  
        input:focus {
          @include input-focused;
        }
  
        label {
          @include input-label;
        }
      }
  
      button {
        @include button-style;
        align-self: flex-end;
      }
  
      button:hover {
        @include button-hover;
      }
    }
  
    .registerForm {
      width: 17.2rem;
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
  
      div {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
  
        input {
          @include input-style;
        }
  
        input:focus {
          @include input-focused;
        }
  
        label {
          @include input-label;
        }
      }
  
      button {
        @include button-style;
        align-self: flex-end;
      }
  
      button:hover {
        @include button-hover
      }
    }
    }

    .slider {
      width: 96.4%;
      margin: auto;
      div {
        img {
          height: auto;
          width: 99.8%;
        }
      }
    }
    
  }

}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 1112px) {
    .LandingPage_container {

      main {
        width: 100% !important;
      }
    }
}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 767px) {
  
  .user_form {
    h1 {
      text-align: center;
      padding: 1rem;
    }
  }
}