@import "variabels.module.scss";
@import "mixins.module.scss";
@import "layout.module.scss";
@import "browse.module.scss";

.main_landingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: $base-index;
  position: relative;

  // .overlay {
  //   position: absolute;
  //   height: 100%;
  //   width: 100%;
  //   background-color: rgba(0, 0, 0, 0.85);
  //   z-index: $high-index !important;
  // }

  .text_danger {
    color: red;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .loginForm {
    width: 17.2rem;
    display: flex;
  
    flex-direction: column;
    row-gap: 1.5rem;

    div {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;

      input {
        @include input-style;
      }

      input:focus {
        @include input-focused;
      }

      label {
        @include input-label;
      }
    }

    button {
      @include button-style;
      align-self: flex-end;
    }

    button:hover {
      @include button-hover;
    }
  }

  .registerForm {
    width: 17.2rem;
    display: flex;
  
    flex-direction: column;
    row-gap: 1.5rem;

    div {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;

      input {
        @include input-style;
      }

      input:focus {
        @include input-focused;
      }

      label {
        @include input-label;
      }
    }

    button {
      @include button-style;
      align-self: flex-end;
    }

    button:hover {
      @include button-hover
    }
  }
}