// Colors //

$primary-color: #E5560E;
$secondary-color: #EC6B20;
$tertiary-color: #e1e1e1;
$quaternary-color: #bebebe;

$white-color: #ffff;
$black-color: #080707;

// Fonts //

$primary-font: "Open Sans", sans-serif;
$secondary-font: "Roboto Mono", sans-serif;

// z-index //

$high-index:1000;
$base-index:100;
$low-index:10;